#storySection{
    margin: 0 auto;
    width: 80%;
}

#storyHeader {
    text-align: center;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}

#storyContent {
    display: flex;
    
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 50px;
    padding-bottom: 50px;

    border-bottom: 1px solid black;
}

.sessions, .timelineList {
    list-style: none;
    padding: 0;
}

#timeline {
    background-color: rgb(244, 244, 244);
    width: 300px;
    padding: 30px 60px;
    /* border-radius: 50px; */
    border: 1px solid rgb(187, 187, 187);
    height: 625px;
}

.date {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.timelineList{
    padding-bottom: 1.5rem;
    border-left: 1px solid black;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
    
}

.timelineList:last-child{
    border: 0px;
    padding-bottom: 0;
}

.timelineList:before{
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid black;
    box-shadow: 3px 3px 0px #858585;
    box-shadow: 3px 3px 0px #a7a7a7;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}

#ringPhoto {
    height: 687px;
    margin-left: 50px;
}

#imageGrid {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    grid-gap: 2%;
    justify-content: center;
}

.gridImage {
    width: 100%;
    
}

@media screen and (max-width: 2500px) {
    #storySection {
        width: 100%;
    }
}

@media screen and (max-width: 1850px) {
    #timeline {
        width: 600px;
    }
    #ringPhoto {
        width: 60%;
        height: 100%;
        margin-left: 50px;
    }
}

@media screen and (max-width: 1200px) {
    
    #ringPhoto {
        width: 50%;
        
    }
}

@media screen and (max-width: 980px) {
    #storySection {
        margin-bottom: 200px;
    }
    #storyContent {
        flex-direction: column;
        align-items: center;
    }
    #timeline {
        width: 80%;
        margin-bottom: 30px;
    }
    #ringPhoto {
        width: 100%;
        margin-left: 0px;
    }
    #imageGrid {
        grid-template-columns: repeat(1, 100%);
        
    }
}