#registryHeader {
    text-align: center;
    font-size: 60px;
}

#comingSoon {
    text-align: center;
    font-size: 40px;
}

@media screen and (max-width: 400px) {
    #registryHeader {
        font-size: 35px;
    }
}