#partyPage {
    width: 80%;
    margin: 0 auto;
}

#weddingPartyHeader {
    text-align: center;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}

#weddingPartySection {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}



.partyMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.partyName {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

.partyImage {
    border-radius: 1000px;
    width: 300px;
}

.weddingParty {
    margin-top: 25px;
}

.partyList{
    font-size: 20px;
}


@media screen and (max-width: 1500px) {
    #partyPage {
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    #partyPage {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    #weddingPartySection {
        grid-template-columns: repeat(1, 100%);
    }
}

@media screen and (max-width: 720px) {
    .partyImage {
        border-radius: 1000px;
        width: 200px;
    }
}