#homePage {
    width: 80%;
    margin: 0 auto;
}

#video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

#video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#weddingInfo {
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#weddingDate {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

.weddingInvite {
    font-size: 25px;
}

#time, #inviteHeader {
    border-bottom: 1px solid black;
}