#homePage {
    width: 80%;
    margin: 0 auto;
}

/* #video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

#video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

#coverPhoto {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

#homeImg {
    width: 100%;
    height: auto;
    box-shadow: 0 0 40px rgb(227, 227, 227);

}

#theWeddingInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}

#weddingInfoRight, #weddingInfoLeft {
    width: 50%;
    text-align: center;
}

#weddingInfoLeft {
    border-right: 2px solid black;
}

#theWeddingDate {
    font-size: 40px;
}

#theWeddingTime {
    font-size: 25px;
}

@media screen and (max-width: 1500px) {
    #coverPhoto {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1000px) {
    #homePage {
        width: 100%;
    }

    #coverPhoto {
        width: 100%;
        height: auto;
        margin-top: 40px;
    }

    #theWeddingInfo {
        flex-direction: column;
        margin-top: 30px;
    }

    #weddingInfoRight, #weddingInfoLeft {
        width: 100%;
    }

    #weddingInfoLeft {
        border-right: none;
        border-bottom: 2px solid black;
    }
}