#weddingInfo {
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#weddingDate {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

.weddingInvite {
    font-size: 25px;
}

#time, #inviteHeader {
    border-bottom: 1px solid black;
}