#attractionHeader {
    text-align: center;
    font-size: 60px;
}


#touristSection {
    display: flex;
    justify-content: space-between;
}



.touristCard {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.touristTitle {
    font-size: 20px;
    
}

.titleH2 {
    padding: 15px;
    color: white;
    background-color: rgb(92, 92, 92);
}

.titleH2:hover {
    background-color: rgb(45, 45, 45);
}

.attractionimg {
    width: 450px;
    height: auto;
}

@media screen and (max-width: 1750px) {
    .touristTitle {
        font-size: 15px;
    }
    .attractionimg {
        width: 350px;
    }
}

/* @media screen and (max-width: 1400px) {
    .attractionimg {
        width: 250px;
    }
} */

@media screen and (max-width: 1400px) {
    .touristCard {
        width: 100%;
    }
    #touristSection {
        flex-direction: column;
    }
    .attractionimg {
        width: 100%;
    }
}