#travelHeader {
    text-align: center;
    font-size: 60px;
}

#airTravel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#dtwimg {
    width: 600px;
    margin-right: 70px;
}

#airport {
    font-size: 30px;
    width: 600px;
}

p {
    font-size: 20px;
}

#accommodations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hotels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hotelcard {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotelimg {
    width: 450px;
}

@media screen and (max-width: 1450px) {

    #dtwimg {
        width: 400px;
    }
    .hotelimg {
        width: 350px;
    }
}

@media screen and (max-width: 980px) {
    #airTravel {
        flex-direction: column;
    }
    #dtwimg {
        margin-right: 0;
        width: 100%;
    }
    #airport {
        width: 100%;
        text-align: center;
    }
    #hotels {
        flex-direction: column;
    }
    .hotelcard {
        width: 100%;
    }
    .hotelimg {
        width: 100%;
    }
}