#travelHeader {
    text-align: center;
    font-size: 60px;
}

#airTravel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#dtwimg {
    width: 600px;
    height: auto;
    margin-right: 70px;
}

#airport {
    font-size: 25px;
    width: 600px;
}

#airbnb {
    color: black;
    text-decoration: underline;
}

#airbnb {
    color: rgb(121, 121, 121);
    cursor: pointer;
}

p {
    font-size: 20px;
}

#accommodations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forAccommodations {
    font-size: 25px;
    text-align: center;
}

#hotels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hotelcard a {
    width: 100%;
}

.hotelHeader {
    /* font-family: 'Playfair Display', serif; */
    font-size: 25px;
    padding: 15px;
    background-color: rgb(92, 92, 92);
    color: white;
    text-align:center;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotelHeader:hover {
    background-color: rgb(45, 45, 45);
}

a {
    text-decoration: none;
}

.hotelcard {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotelimg {
    width: 450px;
    height: auto;
}

.hotelList {
    font-size: 20px;
}

@media screen and (max-width: 1450px) {

    #dtwimg {
        width: 400px;
    }
    .hotelimg {
        width: 350px;
    }
}

@media screen and (max-width: 1100px) {
    .hotelimg {
        width: 250px;
    }
    .hotelHeader {
        font-size: 20px;
    }
}

@media screen and (max-width: 980px) {
    #airTravel {
        flex-direction: column;
    }
    #dtwimg {
        margin-right: 0;
        width: 100%;
    }
    #airport {
        width: 100%;
        text-align: center;
    }
    #hotels {
        flex-direction: column;
    }
    .hotelcard {
        width: 100%;
    }
    .hotelimg {
        width: 100%;
    }
    .hotelHeader {
        font-size: 25px;
    }
}

@media screen and (max-width: 400px) {
    #travelHeader {
        font-size: 35px;
    }
    .hotelHeader {
        font-size: 20px;
    }
}