#names {
  text-align: center;
  font-size: 75px;
}

#date {
  text-align: center;
  font-size: 45px;
  
}

.pageContent {
  width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  #names {
    display: none;
  }

  #date {
    display: none;
  }
}