* {
  font-family: 'Heebo', sans-serif;
}

#topSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#weddingLogo {
  margin-top: 30px;
  width: 700px;
}

#date {
  text-align: center;
  font-size: 35px;
  font-family: 'Playfair Display', serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

.pageContent {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 200px;
}

@media screen and (max-width: 1000px) {
  #weddingLogo {
    display: none;
  }

  #date {
    display: none;
  }
}