* {
  font-family: 'Heebo', sans-serif;
}

#names {
  text-align: center;
  font-size: 75px;
  font-family: 'Monsieur La Doulaise', cursive;
}

#date {
  text-align: center;
  font-size: 45px;
  font-family: 'Playfair Display', serif;
}

.pageContent {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 200px;
}

@media screen and (max-width: 980px) {
  #names {
    display: none;
  }

  #date {
    display: none;
  }
}